#menu{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed;
    right: -26px;
    bottom: 6.3rem;
    background-color: #0B192C;
    padding: 6px;
    padding-right: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    transition: all 150ms ease-in-out;
    z-index: 900;
    a{
      color: #E0E4E8;
      display: block;
      font-size: 22px;
      padding: 4px 8px;
      border-radius: 8px;
      transition: all ease-in-out 150ms;
      &:hover{
        background-color: #040a12;
      }
    }
}

/*Slide effect*/
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

#menu {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 2s ease-out 0s 1 slideInFromRight;
}
