.mouse-effect{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, #05050500 100%, #1b1b1b00 0%);
    pointer-events: none;
    z-index: 0;
    opacity: 0;  
}