body{
  background-color: #000000;
  color: #E0E4E8;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 18px;
}

p{
  margin-top: 8px;
  margin-bottom: 0;
  font-weight: 200;
}

h1{
  font-size: 48px;
  font-weight: 700;

  .title-span{
    color: #FF6500;
  }
}

h2{
  font-size: 18px;
  margin-top: 16px;
}

.github-link{
  color: #FF6500;
  font-weight: 500;
  &:hover{
    color: #ff6600a9;
  }
}

#projects{
  h3{
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    margin: 16px auto;
  }
  .project{
    background-color: #0B192C;
    padding: 24px;
    margin-top: 12px;
    border-radius: 4px;
    transition: all 150ms ease-in-out;

    h4{
      color: #FF6500;
    }
    p{
      margin-bottom: 10px;
    }
    a{
      color: #E0E4E8;
    }
    &:hover{
      transform: scaleX(1.01);
    }
  }
}

footer{
  text-align: center;
  position: relative;
  top: 20px;
  font-size: 14px;
  color: #E0E4E8;
  margin-top: 50px;
}



/*Line divider*/
.line-divider {
  --b: 1px;   /* control the border thickness */
  --w: 80px;  /* control the width of the line*/
  --g: 0px;  /* control the gap */
  --c: #242424;

  width: fit-content;
  padding: 0 16px;
  border-image: 
      linear-gradient(
        #0000      calc(50% - var(--b)/2),
        var(--c) 0 calc(50% + var(--b)/2),
        #0000    0) 
    1/0 var(--w)/calc(var(--w) + var(--g));
}
